{% extends 'base.html' %}

{% block title %}
    Listado de Bandas
{% endblock %}

{% block content %}

    {% if request.user.is_staff %}
        <h2> Desea enlistar una banda/grupo? </h2> <a href="/bands/create-band/" class="btn btn-secondary">Enlistar</a>
        <br><br>
    {% endif %}
    

    <h3>Estas son las bandas que nos eligen</h3>

    {% for band in object_list %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{band.name_band}}</h5>
                <p class="card-text">Hacen {{band.musical_genre}}</p>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Son {{band.members}} integrantes</li>
                </ul>
            <div class="card-body">
                <a href="https://www.instagram.com/{{band.ig}}/" class="card-link">@Intagram</a>
                <a href="https://wa.me/{{band.contact}}" class="card-link">Contacto 📞</a>
            </div>
            {% if user.is_staff == True %}
                <div class="card-body">
                    <a href="/bands/update-band/{{band.id}}" class="btn btn-primary"> Actualizar </a>
                    <a href="/bands/delete-band/{{band.pk}}/" class="btn btn-danger"> Dar de baja</a> 
                </div>
            {% endif %}
        </div>
        
    {% endfor%}
    


{% endblock %}