{% extends 'base.html' %}

{% block title %}
    Lista de Bebidas
{% endblock %}


{% block content %}

    <h1>Mi lista de bebidas</h1> 
    <br>
    <h2> Ingresaron nuevas bebidas? </h2> <a href="/beverages/create-beverage/" class="btn btn-primary">Anotar</a>
    <br><br><br>
    <h2> Bebidas en lista 🍺</h2>

    <form class="form-inline my-2 my-lg-0" action="/beverages/search-beverages/" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar bebidas" aria-label="Search" name="search">
    </form>
    <br>
    <ul class="list-group list-group-horizontal">
        {% for beverage in object_list %}

            <div class="card" style="width: 15rem;">
                {% if beverage.picture.url != '' %}
                    <img src="{{beverage.picture.url}}" class="card-img-top" width="200px" height="200px" alt="...">
                {% else %}
                <img src="..." class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{beverage.brand}}</h5>
                <p class="card-text">Ingresaron {{beverage.quantity}} latas</p>
                <p class="card-text">De {{beverage.size}}ml</p>
                <p class="card-text">Registrado: {{beverage.creation_time}}</p>
                </div>
            </div>


        {% endfor %}
    </ul>

{% endblock %}