{% extends 'base.html' %}


{% block title %}
    Signup
{% endblock %}



{% block content %}
    <h1>Ingrese sus datos para registrarse</h1>

    {% if form %}
    
        <form action="" method="POST">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>
           

            <input type="submit" value="Registrarse">

        </form>

    {% endif %}

    {% if errors %}
        <h5 style="color:red">
            Errores: {{errors}}
        </h5>
    {% endif %}


{% endblock %}