<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">GrooveSala</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/bands/turns-list/">Turnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bands/bands-list/">Bandas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/beverages/list-bands/">Bebidas</a>
                </li>
                <li class="nav-item dropdown" style="margin-right: 700px;">
                  <a class="nav-link dropdown-toggle" href="/" role="button" data-toggle="dropdown" aria-expanded="false">
                    Eventos
                  </a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="/beverages/beverages-list/">Finde</a>
                    <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/">Proximamente...</a>
                  </div>
                </li>
                  {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="/users/logout/">Logout</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="/users/login/">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/signup/">Signup</a>
                    </li>
                  {% endif %}
              </ul>
              <form class="form-inline my-2 my-lg-0" action="/bands/search-band/" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search turns" aria-label="Search" name="search">
              </form>
            </div>
          </nav>
    </header>

    {% block content %}

    {% endblock %}

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="margin-top:300px">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Formas para encontrarnos</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>GrooveSala
            </h6>
            <table>
                🎸Sala de Ensayo <br>
                🔸 Bandas|grupos <br>
                🔸 Solistas <br>
                🔸 Proyectos nuevos <br>
                P/todo tipo de estilos musicales 🎶 <br>
            </table>

            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Nosotros
            </h6>
            <p>
              <a href="https://instagram.com/groovesala?igshid=YmMyMTA2M2Y=" class="text-reset" >Instagram</a>
            </p>
            <p>
              <a href="https://wa.me/+5493885103422" class="text-reset">WhatsApp</a>
            </p>
            <p>
              <a href="https://goo.gl/maps/bVFnntUgarkC557c7" class="text-reset">Ubicación</a>
            </p>
            <p>
              <a href="https://mdbootstrap.com/docs/standard/navigation/footer/" class="text-reset">Footer</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>