{% extends 'base.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}

    <h2>
        <p>Hola mi nombre es Gaston Espinosa y soy el creador de este proyecto.</p>
        <p>Tengo 21 años, estudio Ing. Industrial en la UTN de Córdoba.</p>
        <p>Decidí realizar un curso en Python cuyo Proyecto Final a entregar está dedicado a mi hermano Juan M. Espinosa que arrancó el emprendimiento de sus sueños y el cual utilicé como idea base del proyecto. Espero les agrade la idea 😉</p>
        <p>Se trata de un local que funciona como sala de ensayos para los diferentes artistas o grupos musicales en la cual se dan turnos y se da la venta de bebidas en lata.</p>
    </h2>



{% endblock %}